rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // ⚠️ ATTENTION : Ces règles sont ouvertes pour permettre au prototype de fonctionner
    // sans avoir besoin de configurer l'authentification anonyme dans la console Firebase.
    // Dans une vraie application en production, il FAUT restreindre l'accès !
    match /users/{userId} {
      allow read, write: if true;
    }
  }
}
